*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Mobile: width <= 46.25em*/
/*Grid column trên PC 12/16 cột, tablet 8 cột, mobile 4 cột
Grid Gutter trên PC/tablet 24px, mobile 16px*/
/*for tablet */
/*
@media (min-width:740px){
    .row{
        margin-left: -8px;
        margin-right: -8px;
    }
}
*/
/*For PC low resolution*/
/*@media (min-width:1113px){
    .row{
        margin-left: -12px;
        margin-right: -12px;
    }
}
*/
/*For PC higher than PC low resolution*/
/*
@media (min-width: 1024px) and (max-width: 1239px){
    .row.gird{
        margin-left: -12px;
        margin-right: -12px;
    }
}
*/